.sidebar {
    /*background-color: #fff;*/
    /*z-index: 1003;*/
    /*top: 0;*/
    /*overflow-x: hidden;*/
    /*transition: all 0.5s ease;*/
    /*height: 100%;*/
    /*width: 0;*/
    /*position: fixed;*/
    /*left: 0;*/
}

.sidebar.open {
    /*left: 0;*/
    /*height: 100vh;*/
    /*width: 310px;*/
    /*background-color: #fff;*/
    /*transition: all 0.5s ease;*/
}

.background {
    /*background-color: rgba(173, 171, 171, 0.49);*/
    /*z-index: 1002;*/
    /*left: 0;*/
    /*top: 0;*/
    /*overflow-x: hidden;*/
    /*transition: 0.5s;*/
    /*height: 100%;*/
    /*width: 100%;*/
    /*position: fixed;*/
}

.nav {
    /*position: absolute;*/
    /*margin: 0 0 0 70px;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*gap: 45px;*/
    /*white-space: nowrap;*/
}

.nav a {
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
}

.nav a:hover {
    color: #0059B2;
}

.nav a.active {
    color: #58ACFF;
    text-decoration: underline;
}

.buttonWrapper {
    display: flex;
    justify-content: flex-end;
    padding: 22px 29px 28px 0;
}

.close {
    cursor: pointer;
    border: none;
    background-color: #fff;
}

.close img {
}