.loader {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    display: inline-block;
    border-top: 4.5px solid #512DE4;
    border-right: 4.5px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}