.tech {
    width: 50vw;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.developer {

}

.techHeader {
    width: 50vw;
}

.developerHeader {

}

.row {
    display: flex;
}

.rowHeader {
    display: flex;
}

.loading {
    position: absolute;
    left: 50%;
    margin-left: -45px;
    top: 50%;
    margin-top: -45px;
    z-index: 100001;
}