.App {
    --header_height: 60px;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #000;
    font-size: 14px;
    display: flex;
    flex-direction: column;
}

.hw {
    padding: 50px 70px 20px 70px;
}

.hwTitle {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 9px;
    margin-top: 39px;
    size: 22px;
    padding: 20px 0px 0px 70px;
}