.greetingForm {
}

.inputAndButtonContainer {
}

.error {
    color: red;
}

.input {

}

.input:focus {
}

.errorInput {
    border: red 1px solid;
}

.button {
}

.button:focus {
}

.button:active {
}

.button:disabled {
}

.text {
}

.greeting {
}
