.button {
    overflow: hidden;
    padding: 5px 24px;

    border-radius: 3px;
    border: none;

    color: white;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
}

.disabled {
    color: black;
    background-color: #80A5CC;
    opacity: 0.5;
}

.secondary {
    color: #0066CC;
    background: transparent;
    border: #0066CC 1px solid;
    border-radius: 3px;
}

.default {
    background-color: #0066CC;
}

.red {
    background-color: #cc0000;
}

.default:hover {
background-color: #0080FF;
}

.red:hover {
    background-color: #FF1947
}

.secondary:hover {
    background-color: #E5F0FA;
}


.default:active {
    background-color: #0059B2;
}

.secondary:active {
    background-color: #C9E5FF;
}

.red:active {
    background-color: #B21232;
}

.button:disabled {
    cursor: default;
}
